doctype html
html(lang="en")
  head
    title Reset Your Password - JustHive
  body(style="text-align: center;")
    h1 Set Your New Password
    form(action="/confirmReset", method="POST")
      input(type="hidden", name="token", value=token)
      .row(style="margin-bottom: 20px;")
        label(style="font-weight: bold; font-size: 20px; margin-right: 30px;") New Password:
        input(type="password", name="password", size="50")
      input(type="submit", value="Submit", style="font-size: 20px;")
